.container {
  max-width: 800px;
  /* Largura máxima para o container */
  margin: 0 auto;
  /* Centraliza o container horizontalmente */
  padding: 20px;
  /* Adiciona algum espaçamento interno */
  background-color: #f8f9fa;
  /* Cor de fundo leve */
  border-radius: 8px;
  /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra leve para profundidade */
  margin-bottom: 5%;
  /* margin-top: 5%; */
}

/* CadastroCliente.module.css */
.selectContainer {
  position: relative;
}

.selectButton {
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

.selectMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.selectMenu li {
  padding: 10px;
  cursor: pointer;
}

.selectMenu li:hover {
  background-color: #f0f0f0;
}
