.container {
    max-width: 445px;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-large {
    font-size: 1.5rem; /* Tamanho da fonte aumentado */
    margin-bottom: 1rem; /* Margem inferior ajustada */
}

.buttonContainer {
    margin-top: 1rem; /* Margem superior ajustada */
    display: flex;
    justify-content: center;
    align-items: center; /* Certifica-se de que o botão esteja verticalmente centralizado */
}

.br-button.primary {
    padding: 10px 20px; /* Ajusta o padding do botão */
    font-size: 1rem; /* Tamanho da fonte do botão */
}
