.container {
    max-width: 500px;
    /* Largura máxima para o container */
    margin: 0 auto;
    /* Centraliza o container horizontalmente */
    padding: 20px;
    /* Adiciona algum espaçamento interno */
    background-color: #f8f9fa;
    /* Cor de fundo leve */
    border-radius: 8px;
    /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra leve para profundidade */
    margin-bottom: 5%;
    margin-top: 5%;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centraliza o botão horizontalmente */
    margin-top: 20px;
    /* Adiciona um espaçamento opcional acima do botão */
}

.color {
    color: #0c326f;
    text-align: center;
  }