body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 5em;
    text-align: center;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    bottom: 0;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c326f;
  }
  
  .services {
    margin: -60px auto;
    padding: 7em;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c326f;
  }
  
  .color {
    color: #0c326f;
  }
  
  @media (max-width: 758px) {
    .container {
      max-width: 100%;
      margin: 20px auto;
      padding: 2em;
    }
  
    .services {
      margin: -30px auto;
      padding: 3em;
    }
  }
  
  .container {
    max-width: 90%; /* Ajusta a largura máxima para ocupar mais espaço */
    margin: 30px auto;
    padding: 5em;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c326f;
    overflow-x: auto; /* Permite que a tabela se expanda horizontalmente se necessário */
}

.services {
    margin: -60px auto;
    padding: 7em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c326f;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Permite que a tabela se expanda horizontalmente se necessário */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

@media (max-width: 758px) {
    .container {
        max-width: 100%;
        margin: 20px auto;
        padding: 2em;
    }

    .services {
        margin: -30px auto;
        padding: 3em;
    }

    .table-container {
        padding: 1em;
    }
}
