.header_bottom {
    padding: 10px;
    background-color: #fff;
    position: relative; /* Adicionar para garantir que o z-index funcione corretamente */
    z-index: 1000; /* Certifique-se de que seja menor que o z-index do menu */
  }
  
  .header_menu {
    display: flex;
    align-items: center;
  }
  
  .header_menu_trigger {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: -14px;
  }
  
  .header_info {
    display: flex;
    align-items: center;
  }
  
  .header_title {
    margin-left: -14px;
    margin-bottom: 4px;
    font-size: 24px;
  }
  
  .img_logo {
    margin-left: 14px;
  }